.board-wrapper {
  height: calc(100vh - 52px);
  padding: 3px;
  margin-top: 52px;
  /* overflow-x: scroll;
  overflow-y: hidden; */
}

.board {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 0px;
}
