.board-wrapper {
  bottom: 0px;
  padding: 3px;
  padding-right: 0px;
  overflow-x: scroll; 
  position: absolute;
  top: 43px;
  width: 100%
}

.board {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.left-center-columns {
  flex: 1;
  justify-self: left;
  margin-right: auto;
  width: 0px;
}

.right-center-columns {
  flex: 1;
  justify-self: right;
  margin-left: auto;
  min-width: 3px;
}

.dim-overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
