.column {
  border: 1px solid gray;
  border-radius: 4px;
  flex: 1 1 auto;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  min-height: 76px;
  overflow-y: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
}

.column-mobile {
  height: 100%;
  margin: 0px;
}

.col-header {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  padding: 4px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}

.scrollable {
  bottom: 0px;
  overflow-y: scroll;
  position: absolute;
  top: 22px;
  width: 100%;
}

.scrollable::-webkit-scrollbar {
  width: 0px;
}
