.column {
  border: 1px solid gray;
  /* flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1; */
  height: calc(100% - 6px);
  margin: 3px;
  /* max-width: 400px; */
  /* min-width: 200px; */
  padding: 0px;
  width: 400px;
}

.col-header {
  background-color: lightgray;
  padding: 4px;
  text-align: center;
  width: 100%;
}
