.banner {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  height: 43px;
  padding: 8px;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.banner h1 {
  display: block;
  color: rgb(150, 0, 0);
  font-weight: 400;
  font-size: 2em;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 110px;
}

.banner h1 a:hover {
  text-decoration: none;
}

.desktop-links {
  right: 0px;
  padding-left: 15px;
  padding-right: 5px;
  position: absolute;
  top: 0px;
}

.desktop-links li {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 18px;
}

.nav-menu {
  right: 10px;
  top: 5px;
}

.nav-menu .menu-icon div {
  height: 2px;
  margin: 5px 0 2px;
  width: 22px;
}

.nav-menu .menu {
  right: -10px;
  top: 3px;
}

.nav-menu .menu li {
  margin: 12px;
  font-size: 1.2em;
}
