nav {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}

nav h1 {
  display: block;
  color: rgb(150, 0, 0);
  font-weight: normal;
  font-size: 2em;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0.8em; */
  text-align: center;
  width: 110px;
}

nav h1 a:hover {
  text-decoration: none;
}

.desktop-links {
  right: 0px;
  padding-left: 15px;
  padding-right: 5px;
  position: absolute;
  top: 0px;
}

.desktop-links li {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 18px;
}

.nav-menu {
  right: 10px;
  top: 7px;
}

.nav-menu .menu-icon div {
  height: 3px;
  margin: 5px 0 2px;
  width: 24px;
}

.nav-menu .menu {
  right: -10px;
  top: 8px;
}

.nav-menu .menu li {
  margin: 12px;
  font-size: 1.2em;
}

/* nav li.menu-icon {
  display: none;
} */

/* @media screen and (max-width: 600px) {
  nav li {
    display: none;
    margin-bottom: 15px;
  }
  nav li.menu-icon {
    display: inline-block;
  }
  nav ul.responsive {
    background-color: lightgray;
  }
  nav ul.responsive li {
    display: block;
  }
} */
