.login-form {
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1.3em;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 300px;
  padding: 15px;
  padding-top: 20px;
}

.login-form fieldset {
  border: none;
}

.login-form legend {
  text-align: center;
}

.login-form h2 {
  margin: 0px;
}

.login-form .form-error {
  color: rgb(160, 0, 0);
  font-size: 0.74em;
}

.login-form .form-input {
  position: relative;
}

.login-form .form-input label {
  display: block;
  font-size: 0.9em;
  margin-top: 20px;
}

.login-form .form-input input {
  border: 1px inset gray;
  border-radius: 4px;
  font-size: 1.2em;
  height: 40px;
  margin-top: 5px;
  padding: 8px;
  width: 100%;
}

.login-form .form-input .form-error {
  top: 58px;
  margin: 0px;
  margin-top: 4px;
  position: absolute;
  right: 0px;
  text-align: right;
}

.login-form button {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  width: 100%;
}

.login-form button:enabled {
  background: maroon;
  color: white;
}

.login-form button:enabled:hover, .login-form button:enabled:focus {
  box-shadow: 1px 1px 4px rgb(61, 61, 61);
}

.login-link {
  text-align: center;
}
