.task-container {
  background: lightgray;
  border: 1px solid gray;
  cursor: move;
  margin: 6px;
  margin-bottom: 0px;
  padding: 4px;
  padding-right: 25px;
  position: relative;
}

.task span {
  font-size: 0.8em;
}

.selected {
  border: 2px dashed maroon;
}

.selectable {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  z-index: 100;
}

.dragged-border {
  background: none;
  border: 3px dashed gray;
  margin: 6px;
  margin-bottom: 0px;
  padding: 2px;
  pointer-events: none;
}

.dragged-content {
  visibility: hidden;
}
