.task-form {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 6px;
  padding: 4px;
  width: calc(100% - 12px);
}

.form-input {
  flex-basis: 100%;
  margin-top: 4px;
}

.form-input label {
  font-size: 0.9em;
  margin: 4px;
}

.task-form input {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  width: calc(100% - 8px);
}

.task-form button {
  flex: 1;
  margin: 4px;
  max-width: 80px;
}
