.task-container {
  background: rgb(230, 230, 230);
  border: 1px solid gray;
  border-radius: 4px;
  cursor: move;
  margin: 6px;
  margin-bottom: 0px;
  padding: 6px;
  padding-right: 25px;
  position: relative;
}

.task span {
  color: rgb(103, 103, 103);
  font-size: 0.85em;
}

.selected {
  border: 2px dashed maroon;
  padding: 5px;
  padding-right: 24px;
}

.select-task,
.select-task:hover,
.select-task:enabled:hover,
.select-task:focus {
  all: unset;
  border: none;
  height: 100%;
  left: -1px;
  position: absolute;
  pointer-events: none;
  top: -1px;
  width: 100%;
}

.select-task:focus {
  border: 1px dashed rgb(230, 230, 230);
  border-radius: 4px;
}

.selectable {
  background-color: rgb(235, 235, 235);
  border: 1px solid maroon;
  cursor: pointer;
  z-index: 100;
}

.selectable:hover {
  border: 1px dashed maroon;
}

.dragged-border {
  background: none;
  border: 3px dashed gray;
  margin: 6px;
  margin-bottom: 0px;
  padding: 4px;
  pointer-events: none;
}

.dragged-content {
  visibility: hidden;
}
