.task-form {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 6px;
  padding: 4px;
  width: calc(100% - 12px);
}

.task-form .form-input {
  flex-basis: 100%;
  margin-top: 4px;
  position: relative;
}

.task-form .form-input label {
  margin: 4px;
}

.task-form input {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  width: calc(100% - 8px);
}

.task-form .form-error {
  color: maroon;
  font-size: 0.8em;
  margin: 0px;
  position: absolute;
  right: 4px;
  text-align: right;
  top: 2px;
}

.task-form button {
  flex: 1;
  margin: 4px;
  max-width: 80px;
}

.task-form button[type="submit"]:enabled {
  background: maroon;
  color: white;
}

.task-form button[type="submit"]:enabled:hover, .task-form button[type="submit"]:enabled:focus {
  box-shadow: 1px 1px 4px rgb(61, 61, 61);
}
