.timer {
  border: 1px solid gray;
  border-radius: 4px;
  flex: 0 0 170px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-bottom: 4px;
  text-align: center;
  width: 100%;
}

/***** Timer Header *****/

.timer header {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  padding: 4px;
  position: relative;
  text-align: center;
  width: 100%;
}

.timer header:hover {
  cursor: move;
}

/***** Timer Content *****/

.timer-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  position: relative;
  width: 194px;
}

.timer p {
  margin: 8px;
}

/***** Task Selection *****/

.select-button {
  position: relative;
  z-index: 10;
}

.task-selected {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 8px;
}

.task-selected-msg {
  flex: 0;
  flex-basis: 70px;
  font-size: 0.85em;
  text-align: left;
}

.task-selected-disp {
  color: maroon;
  flex: 1;
  max-height: 36px;
  margin-left: 4px;
  overflow: hidden;
  text-align: left;
}

/***** Timer Display *****/

.timeleft {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin: 8px;
  margin-bottom: 0px;
}

.timeleft-msg {
  flex: 0;
  flex-basis: 70px;
  font-size: 0.85em;
  text-align: left;
}

.timeleft-disp {
  flex: 1;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 4px;
  text-align: left;
}

.timer-button {
  font-size: 1.3em;
  height: 36px;
  margin: 8px;
  margin-top: 4px;
  width: 100px;
}

.timer-button:enabled {
  background: maroon;
  border: 1px solid black;
  color: white;
}

.timer-button:enabled:hover, .timer-button:enabled:focus {
  box-shadow: 1px 1px 4px rgb(61, 61, 61);
}
