.timer {
  border: 1px solid gray;
  flex: 0 0 170px;
  margin: 3px;
  padding: 0px;
  padding-bottom: 4px;
  text-align: center;
  width: 400px;
}

.timer header {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
  padding: 4px;
  text-align: center;
  width: 100%;
}

.timer p {
  margin: 8px;
}

.select-button {
  position: relative;
  z-index: 10;
}

.task-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-left {
  font-size: 2em;
  font-weight: bold;
  margin: 16px;
}