.timer {
  border: 1px solid gray;
  flex: 0 0 170px;
  margin: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  padding-bottom: 4px;
  text-align: center;
  width: 100%;
}

.timer header {
  background-color: lightgray;
  border-bottom: 1px solid gray;
  cursor: pointer;
  margin-bottom: 8px;
  padding: 4px;
  position: relative;
  text-align: center;
  width: 100%;
}

.timer header ul {
  right: 0px;
  padding-left: 1px;
  padding-right: 1px;
  position: absolute;
  text-align: center;
  top: -15px;
}

.timer header li {
  display: none;
  margin-bottom: 8px;
}

.timer header li.menu-icon {
  display: inline-block;
}

.timer .menu-icon button {
  height: 24px;
}

.timer header ul.responsive {
  background-color: lightgray;
}

.timer header ul.responsive li {
  display: block;
}

.timer p {
  margin: 8px;
}

.select-button {
  position: relative;
  z-index: 10;
}

.task-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time-left {
  font-size: 2em;
  font-weight: bold;
  margin: 16px;
}