* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background: lightgray;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:hover {
  border: 1px solid black;
  cursor: pointer;
}
